---
import Layout from '../layouts/Layout.astro'
import AstroCard from '../components/AstroCard.astro'
import VueCard from '../components/VueCard.vue'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1
			class="flex h-52 flex-col items-center justify-center pb-5 text-center text-5xl font-bold sm:h-80 sm:text-7xl"
		>
			<div class="text-">Welcome to</div>
			<div class="bg-gradient-to-r from-purple-500 to-purple-300 bg-clip-text text-transparent">
				Astro
			</div>
		</h1>
		<div class="mx-auto grid w-full max-w-2xl gap-4 sm:grid-cols-2 sm:gap-8">
			<AstroCard
				href="https://docs.astro.build/"
				title="Astro Documentation"
				body="Learn how Astro works and explore the official API docs. (This component by 'astro.build')"
			/>
			<VueCard client:load />
		</div>
	</main>
</Layout>
