---
import AstroLogo from '../components/AstroLogo.astro'
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-900 text-white">
		<div class="fixed top-0 -z-50 flex w-full items-center justify-center p-4">
			<AstroLogo />
		</div>
		<slot />
	</body>
</html>
